footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--colorFondo);
}
.FOOtitulo{
    color: var(--colorTextoBoton);
    font-size: calc(5px + .5vw);
    text-align: center;
    height: max-content;
    padding: 5px;
    margin-top: 10px;
}
.FOOicono{
    font-size: calc(8px + .5vw);
    margin-top: 0px;
}