.NAVnavegador{
    height: 100%;
    min-height: 25px;
    width: 95%;
    font-family: Jugador;
}

.NAVMenu{
    gap: 1vw;
    width: 90%;
}
.NAVtxtMenu li{
    display: block;
    margin: 0;
    padding: 4px;
}

.NAVtxtMenu li a{
    font-size: calc(10px + .9vw);
    color: var(--colorTexto);
    text-decoration: none;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
.NAVtxtMenu li a:hover {
    filter: brightness(120%);
    text-decoration: underline;
}

.NAVicoMenu li {
    display: block;
    padding: 2px 4px 2px 4px;
    color: var(--colorTexto);
    width: 4vw;
}
.NAVicoMenu li a{
    color: var(--colorTexto);
    border: none;
}
.NAVicoMenu li a:hover{
    filter: brightness(120%);
}
@media only screen and (min-width: 720px) {
    .NAVicoMenu{
        display:none;
    }
    .NAVtxtMenu{
        margin-top: 0;
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
    }
}

@media only screen and (max-width: 719px) {
    .NAVtxtMenu{
        display:none;
    }
    .NAVicoMenu{
        margin: .5vh 0px auto;
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
    }
}